* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}
body {
  background-color: floralwhite;
}

input,
button,
textarea {
  all: unset;
}

p {
  font-size: calc(0.45vw + 13.4px); //22-15
  font-weight: 500;
}
span {
  font-size: calc(0.26vw + 13px); //18-14
  font-weight: 400;
}
h1 {
  font-size: calc(0.77vw + 25px); //40-28
  font-weight: 700;
}
h2 {
  font-size: calc(0.7vw + 21.5px); //35-24
  font-weight: 600;
}
h3 {
  font-size: calc(0.64vw + 18px); //30-20
  font-weight: 600;
}

.firstBox{
  background-color: rgb(225, 233, 255);
  transition: background-color 0.5s;
  cursor: pointer;
  &:hover {
    background-color: rgb(239, 243, 255);
  }
  &:active {
    background-color: rgb(255, 255, 255);
  }
}
