.createFormBox{
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 60%;
    margin: 2em;
    padding: 2em 1em;
    border-radius: 20px;
    border: 2px solid  rgb(34, 211, 255);
    .createBtn{
        text-align: center;
    }
}